{% extends 'common/base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
 <!--------------- blog-tittle-section---------------->
 <section class="blog about-blog">
    <div class="container">
        <div class="blog-bradcrum">
            <span><a href="index.html">Home</a></span>
            <span class="devider">/</span>
            <span><a href="#">Checkout</a></span>
        </div>
        <div class="blog-heading about-heading">
            <h1 class="heading">Checkout</h1>
        </div>
    </div>
</section>
<!--------------- blog-tittle-section-end---------------->

<!--------------- checkout-section---------------->
<section class="checkout product footer-padding">
    <div class="container">
        <div class="checkout-section">
        <form method="POST" action="{% url 'neworder'  %}">
                {% csrf_token %}
            <div class="row gy-5">
                <div class="col-lg-6">
                    <div class="checkout-wrapper">
                        <!-- <a href="login.html" class="shop-btn">Log into Your Account</a> -->
                        <div class="account-section billing-section">
                            <h5 class="wrapper-heading">Billing Details</h5>
                            <div class="review-form">
                                
                                    <div class=" account-inner-form">
                                        <div class="review-form-name">
                                            <label class="form-label">First Name*</label>
                                            {{form.first_name}}
                                        </div>
                                        <div class="review-form-name">
                                            <label class="form-label">Last Name*</label>
                                            {{form.last_name}}
                                        </div>
                                    </div>
                                    <div class=" account-inner-form">
                                        <div class="review-form-name">
                                            <label class="form-label">Email*</label>
                                            {{form.email}}
                                        </div>
                                        <div class="review-form-name">
                                            <label class="form-label">Phone*</label>
                                            {{form.phone_no}}
                                        </div>
                                    </div>
                                    <div class="review-form-name address-form">
                                        <label for="address" class="form-label">Address*</label>
                                        {{form.address}}
                                    </div>
                                    <div class=" account-inner-form">
                                        <div class="review-form-name">
                                            <label class="form-label">District*</label>
                                            {{form.district}}
                                        </div>
                                        <div class="review-form-name">
                                            <label class="form-label">Country*</label>
                                            {{form.country}}
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="checkout-wrapper">
                        <!-- <a href="#" class="shop-btn">Enter Coupon Code</a> -->
                        <div class="account-section billing-section">
                            <h5 class="wrapper-heading">Order Summary</h5>
                            <div class="order-summery">
                                <div class="subtotal product-total">
                                    <h5 class="wrapper-heading">ITEM</h5>
                                    <h5 class="wrapper-heading" style="position: relative;left: 125px;">Qty</h5>
                                    <h5 class="wrapper-heading">TOTAL</h5>
                                </div>
                                <hr>
                                <div class="subtotal product-total">
                                    <ul class="product-list">
                                        {% for item in myCart %}
                                        <li>    
                                            <div class="table" style="width:auto;">
                                                <tbody>
                                                    {% for img in item.product.image_set.all %}
                                                    <tr>
                                                        <td><img src="{{img.url.url}}" width="50"  alt=""></td>
                                                    </tr>
                                                     {% endfor %}   
                                                </tbody>
                                            </div>
                                            <div class="product-info" style="position:relative;right:90px;">
                                                <h5 class="wrapper-heading">{{ item.product.name }}</h5>   
                                            </div>
                                            <span class="productQty" style="font-size: medium;">{{item.qty}}</span>
                                                
                                             
                                            {% for s in item.product.price_set.all %}
                                            <div class="price">
                                                <h5 class="wrapper-heading" style="font-size: medium;">{{s.mrp|mul:item.qty}}</h5>
                                            </div>{% endfor %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <hr>
                                <div class="subtotal product-total">
                                    <h5 class="wrapper-heading" style="font-size: large;">Total</h5>
                                    <h5 class="wrapper-heading" style="font-size: large;">BDT {{total}}</h5>
                                </div>
                                <div class="subtotal product-total">
                                    <ul class="product-list">
                                        <li>
                                            <div class="product-info">
                                                <p class="paragraph">SHIPPING</p>
                                                <!-- <h5 class="wrapper-heading">Free Shipping</h5> -->

                                            </div>
                                            {% if delivery_charge %}
                                            <div class="price">
                                                
                                                <h5 class="wrapper-heading">Tk{{delivery_charge}}</h5>
                                            </div>
                                            {% else %}
                                            <div class="price">
                                                <h5 class="wrapper-heading">Tk 0</h5>
                                            </div>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                                <hr>
                                <div class="subtotal total">
                                    <h5 class="wrapper-heading">GRAND TOTAL</h5>
                                    <h5 class="wrapper-heading price">BDT {{Grand_Total}}</h5>
                                </div>
                                <!-- select payment method -->
                                <div class="subtotal payment-type">
                                    <div class="checkbox-item">
                                        <label>
                                            <input type="radio" name="payment-method" value="bkash">
                                            <img src="{% static 'assets/images/payment/bkash.png' %}" alt="bKash" width="100">
                                        </label>
                                        &emsp;
                                        <label>
                                            <input type="radio" name="payment-method" value="Nagad">
                                            <img src="{% static 'assets/images/payment/nagad.png' %}" alt="bkash" width="100">
                                        </label>
                                        &emsp; <!--to make space between two payment method-->
                                        <label>
                                            <input type="radio" name="payment-method" value="Cash-on-Delivery">
                                            <img src="{% static 'assets/images/payment/cod.png' %}" alt="bkash" width="100">
                                        </label>
                                    </div>
                                </div>
                                <span class="text-danger" style="font-size:medium" id="paymethod-error"></span>
                                <button class="shop-btn" onclick="paymentmethodChecked()" type="submit">Place Order Now</button>
                                <a href="{% url 'index' %}" class="shop-btn" style="margin-top: 5px;">Back To Shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</section>
<!--------------- checkout-section-end---------------->
<!-- Error msg setup by jquery if not payment method selected -->
<script>
    function paymentmethodChecked(){
        var paymethod = $("input[name='payment-method']:checked").val()
        if(!paymethod){
            $('#paymethod-error').html("Please select one payment method")
            return false;
        }else{
            var payconf = confirm('Your payment method is ' +paymethod+ ' Please submit "Ok" to continue')
            if(payconf == true){
                return true;
            }else{
                return false;
            }
        }
        
    }
    // to vanish the error msg once user set payment method
    $('input[name=payment-method]').on('change', function(){
        $('#paymethod-error').html('');
    })
</script>
{% endblock content %}