{% extends 'common/base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
    <!--------------- blog-tittle-section---------------->
<section class="blog about-blog">
    <div class="container">
        <div class="blog-bradcrum">
            <span><a href="index.html">Home</a></span>
            <span class="devider">/</span>
            <span><a href="#">Cart</a></span>
        </div>
        <div class="blog-heading about-heading">
            <h1 class="heading">Cart</h1>
        </div>
    </div>
</section>

<!--------------- cart-section---------------->
<section class="product-cart product footer-padding">
    <div class="container">
        <div class="cart-section">
            <table>
                <tbody>
                    <tr class="table-row table-top-row">
                        <td class="table-wrapper wrapper-product">
                            <h5 class="table-heading">PRODUCT</h5>
                        </td>
                        <td class="table-wrapper">
                            <div class="table-wrapper-center">
                                <h5 class="table-heading">PRICE</h5>
                            </div>
                        </td>
                        <td class="table-wrapper">
                            <div class="table-wrapper-center">
                                <h5 class="table-heading">QUANTITY</h5>
                            </div>
                        </td>
                        <td class="table-wrapper wrapper-total">
                            <div class="table-wrapper-center">
                                <h5 class="table-heading">TOTAL</h5>
                            </div>
                        </td>
                        <td class="table-wrapper">
                            <div class="table-wrapper-center">
                                <h5 class="table-heading">ACTION</h5>
                            </div>
                        </td>
                    </tr>
                    <tr class="table-row ticket-row " id="empty-cart" style="display: none;">
                        <td class="table-wrapper wrapper-product">
                            <h4 style="text-align:center;position: relative;"> Cart is Empty</h4>
                        </td>
                    </tr>
                    {% if myCart %}
                    {% for cart in myCart %}
                    <tr class="table-row ticket-row" id="cart_element-{{cart.id}}">
                        <td class="table-wrapper wrapper-product">
                            <div class="wrapper">
                                {% for img in cart.product.image_set.all %}
                                <div class="wrapper-img">
                                    <img src="{{img.url.url}}"
                                        alt="img">
                                </div>
                                {% endfor %}
                                <div class="wrapper-content">
                                    <a href="" class="product-details">{{cart.product.name}}</a>
                                    <!-- <h5 class="heading">{{cart.product.name}}</h5> -->
                                </div>
                            </div>
                        </td>
                        <td class="table-wrapper">
                            {% for price in cart.product.price_set.all %}
                            <div class="table-wrapper-center">
                                <h5 class="heading">{{price.BDT}}</h5>
                            </div>
                            {% endfor %}
                        </td>
                        <td class="table-wrapper">
                            <div class="table-wrapper-center">
                                <div class="quantity">
                                    <span id="qnty" class="productQty" data-qty="{{cart.qty}}">{{cart.qty}}</span>
                                </div>  
                            </div>
                        </td>
                        
                        <td class="table-wrapper wrapper-total">
                        {% for p in cart.product.price_set.all %}
                            <div class="table-wrapper-center">
                                <h5 class="heading">{{p.mrp|mul:cart.qty}}</h5>
                            </div>
                            {% endfor %}
                        </td>
                  
                        <td class="table-wrapper">
                            <div class="table-wrapper-center">
                                <span>
                                    <a href="#" class="delCart" data-id="{{ cart.id }}" data-url="{% url 'del_cart' cart.id %}"><i class="fa-solid fa-delete-left"></i>
                                </span>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr class="table-row ticket-row">
                        <td class="table-wrapper wrapper-product">
                            <h4 style="text-align:center;position: relative;"> Cart is Empty</h4>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="wishlist-btn cart-btn">
            <a href="empty-cart.html" class="clean-btn">Clear Cart</a>
            <a href="#" class="shop-btn update-btn">Update Cart</a>
            <a href="checkout.html" class="shop-btn">Proceed to Checkout</a>
        </div>
    </div>
</section>
<!--------------- cart-section-end---------------->
{% endblock %}