{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<!--------------- login-section --------------->
<section class="login footer-padding">
    <div class="container">
        <div class="reset-section">
            <form action="#" method="post">
                {% csrf_token %}
                <div class="review-form">
                    
                    <h5 class="comment-title">Reset Password</h5>
                    
                    <div class="review-inner-form ">
                        <div class="review-form-name">
                            <input type="email" name="email" class="form-control" placeholder="E-mail address" style="border-color:lightblue;">
                        </div>
                    </div>
                    <div class="login-btn text-center">
                        <button type="submit" class="shop-btn" value="Log In">Reset</button>
                        <span class="shop-account">Return to login ?<a href="{% url 'login' %}" style="color:rgb(245, 68, 151) ;">Login
                            </a></span>
                    </div>
                </div>
            </form>
            <div class="login-btn text-center">
                {% include 'common/alert.html' %}
            </div>
        </div>
    </div>
</section>
<!--------------- login-section-end --------------->
{% endblock content %}