{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<!--------------- login-section--------------->
<section class="login account footer-padding">
    <div class="container">
        <div class="registration-section account-section">
            <div class="review-form">
                <h5 class="comment-title">Create Account</h5>
                <form action="{% url 'registrationform' %}" method="POST">
                    {% csrf_token %}
                    <div class=" account-inner-form">
                        <div class="review-form-name">
                            {{form.first_name}}
                        </div>
                        <div class="review-form-name">
                            {{form.last_name}}
                        </div>
                    </div>
                    <div class=" account-inner-form">
                        <div class="review-form-name">
                            {{form.username}}
                        </div>
                        <div class="review-form-name">
                            {{form.email}}
                        </div>
                    </div>
                    <div class=" account-inner-form">
                        <div class="review-form-name">
                            {{form.phone_no}}
                        </div>
                    </div>
                    <div class=" account-inner-form">
                        <div class="review-form-name">
                            {{form.password}}
                        </div>
                        <div class="review-form-name">
                            {{form.confirm_password}}
                        </div>
                    </div> <br>
                    <ul class="errorlist">
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                <li style="color: red;font-size: medium;">{{error}}</li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <li style="color: red; font-size: medium;">{{form.non_field_errors}}</li>
                    <!-- <div class="review-form-name checkbox">
                        <div class="checkbox-item">
                            <input type="checkbox" name="chkbox" value="Yes" required>
                            <p class="remember">
                                I agree all terms and condition in <span class="inner-text">ShopUs.</span></p>
                        </div>
                    </div> -->
                    <div class="login-btn text-center">
                        <input type="submit" class="shop-btn" value="Create an Account">
                    </div>
                </form>
                <div class="login-btn text-center">
                    <!-- <a href="#" class="shop-btn">Create an Account</a> -->
                    <!-- <input type="submit" class="shop-btn" value="Create an Account"> -->
                    <span class="shop-account">Already have an account ?<a href="{% url 'login' %}" style="color: rgb(245, 68, 151);">Log In</a></span>
                </div><br>
                <div class="login-btn text-center">
                    {% include 'common/alert.html' %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--------------- login-section-end --------------->

{% endblock %}