{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<!--------------- login-section --------------->
<section class="login footer-padding">
    <div class="container">
        <div class="login-section">
            <form action="{% url 'resetpassword' %}" method="post">
                {% csrf_token %}
                <div class="review-form">
                    
                    <h5 class="comment-title">Reset your password</h5>
                    
                    <div class="review-inner-form ">
                        <div class="review-form-name">
                            <!-- <label for="password" class="form-label">Password*</label> -->
                            <input type="password" name="password" class="form-control" placeholder="New password" style="border-color: rgb(245, 68, 151);border-width: 2px;">
                        </div>
                        <div class="review-form-name">
                            <!-- <label for="password" class="form-label">Password*</label> -->
                            <input type="password" name="cpassword" class="form-control" placeholder="Confirm password" style="border-color: rgb(245, 68, 151);border-width: 2px;">
                        </div>
                    </div>
                    <div class="login-btn text-center">
                        <button type="submit" class="shop-btn" value="Log In">Submit</button>
                    </div>
                </div>
            </form>
            <div class="login-btn text-center">
                {% include 'common/alert.html' %}
            </div>
        </div>
    </div>
</section>
<!--------------- login-section-end --------------->
{% endblock content %}