{% extends 'common/base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

    <!--------------- blog-tittle-section---------------->
    <section class="blog about-blog">
        <div class="container">
            <div class="blog-bradcrum">
                <span><a href="index.html">Home</a></span>
                <span class="devider">/</span>
                <span><a href="#">Order</a></span>
            </div>
            <div class="blog-heading about-heading">
                <h1 class="heading">Order</h1>
            </div>
        </div>
    </section>
    <!--------------- blog-tittle-section-end---------------->

    <!--------------- order-section---------------->
    <section class="checkout product footer-padding">
        <div class="container">
            <div class="checkout-section">
                <div class="row gy-5">
                    <div class="col-lg-6">
                        <div class="checkout-wrapper">
                            <!-- <a href="login.html" class="shop-btn">Log into Your Account</a> -->
                            {% if user.is_authenticated %}
                            <div class="account-section billing-section">
                                <h5 class="wrapper-heading">Your billing details</h5><hr>
                                <div class="review-form">
                                    <div style="font-size: large;"><b>{{ order.name }}</b></div><br>
                                    <div style="font-size: medium;"><strong>Address:</strong> {{order.address}}, {{ order.district }}, {{ order.country }}</div>
                                    <div style="font-size: medium;"><strong>Email:</strong> {{ order.email }}</div>
                                    <div style="font-size: medium;"><strong>Phone: </strong>{{ order.phone_no }}</div>
                                    <div style="font-size: medium;"><strong>Payment Method:</strong> {{order.paymentMethod}}</div>
                                    <br>
                                    <div><a href="{% url 'mycheckout' %}" class="btn btn-outline-success" style="font-size: small;"><strong>Edit Your Address</strong></a></div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout-wrapper">
                            <!-- <a href="#" class="shop-btn">Enter Coupon Code</a> -->
                            <div class="account-section billing-section">
                                <h5 class="wrapper-heading">Order Summary</h5>
                                <div class="order-summery">
                                    <div class="subtotal product-total">
                                        <h5 class="wrapper-heading">ITEM</h5>
                                        <h5 class="wrapper-heading" style="position: relative;left: 125px;">Qty</h5>
                                        <h5 class="wrapper-heading">TOTAL</h5>
                                    </div>                              
                                    <hr>
                                    <div class="subtotal product-total">
                                        <ul class="product-list">
                                            {% for item in myCart %}
                                            <li>    
                                                <div class="table" style="width:auto;">
                                                    <tbody>
                                                        {% for img in item.product.image_set.all %}
                                                        <tr>
                                                            <td><img src="{{img.url.url}}" width="50"  alt=""></td>
                                                        </tr>
                                                         {% endfor %}   
                                                    </tbody>
                                                </div>
                                                <div class="product-info" style="position:relative;right:90px;">
                                                    <h5 class="wrapper-heading">{{ item.product.name }}</h5>   
                                                </div>
                                                <span class="productQty" style="font-size: medium;">{{item.qty}}</span>
                                                
                                                <div class="price">
                                                    <h5 class="wrapper-heading" style="font-size: medium;">{{item.subtotal}}</h5>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="subtotal product-total">
                                        <h5 class="wrapper-heading" style="font-size: large;">Total</h5>
                                        <h5 class="wrapper-heading" style="font-size: large;">BDT {{total}}</h5>
                                    </div>
                                    <div class="subtotal product-total">
                                        <ul class="product-list">
                                            <li>
                                                <div class="product-info">
                                                    <p class="paragraph">Delivery Charge :</p>
                                                    <!-- <h5 class="wrapper-heading">Free Shipping</h5> -->
    
                                                </div>
                                                <div class="price">
                                                    <h5 class="wrapper-heading">Tk {{delivery_charge}}</h5>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <hr>
                                    <div class="subtotal total">
                                        <h5 class="wrapper-heading">GRAND TOTAL</h5>
                                        <h5 class="wrapper-heading price">BDT {{Grand_Total}}</h5>
                                    </div>
                                    <a href="{% url 'orderconfirm' orderno=order.orderNo %}" class="shop-btn" style="margin-top: 5px;">Confirm Order</a>
                                    <!-- <button class="shop-btn" type="submit">Confirm your Order</button> -->
                                    <!-- <a href="{% url 'index' %}" class="shop-btn" style="margin-top: 5px;">Back To Shopping</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </section>
    <!--------------- order-section-end---------------->

{% endblock content %}